<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>MGI LES MONITOR</title>
  <meta name="description" content="" />
  <meta name="author" content="minggang@outlook.com" />
  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link href="css/animations.css" rel="stylesheet" />
  <link href="css/content1.0.css?v=1230" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/times.js"></script>
</head>

<body ng-app="myApp" ng-controller="customersCtrl">
  <!-- banner start -->
  <div class="banner-caption clearfix" style="position: relative;">
    <div id="title">
      <div class="caption-title clearfix">
        <i class="title-left"><img src="images/title-left.png" /></i>
        <p class="title-left-title-font">MGI LES MONITOR</p>
        <i class="title-left"><img src="images/title-right.png" /></i>
      </div>
      <div class="title-date" style="height: 40px; position: absolute; right: 0; top:0;">
          <p id="DateTime" style="height: 40px; text-align: center;">CURRENT TIME</p>
      </div>
    </div>
    <div id="main" style="margin-top:20px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1 clearfix" id="box01" style="height:300px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title">
                <b class="data-title-left">[</b> <span>STORAGE</span> <b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>Main parts Stock <abbr>{{pager.parts.pc>1?pager.parts.pi-1: 1}}/{{pager.parts.pc}}</abbr></span>
              </div>
              <table class="panel-table" style="margin-top:5px !important">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Dloc</th>
                    <th>Boxes</th>
                    <th>Way</th>
                    <th>Min</th>
                    <th>Max</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="y in parts">
                    <td>{{ y.pno }}</td>
                    <td><small>{{ y.pname }}</small></td>
                    <td><small>{{ y.dloc }}</small></td>
                    <td><b>{{ y.boxes }}</b></td>
                    <td><b>{{ y.way }}</b></td>
                    <td><b>{{ y.min }}</b></td>
                    <td><b>{{ y.max }}</b></td>
                  </tr>
                </tbody>
              </table>
              <!-- <div class="total-mn" id="total-mn2">
                <span>未及时上线数据监控</span>
                <span class="live-box-font1"><span style="font-size: 2rem;">549462</span>万元</span>
              </div>
              <div id="box1_bottom">
                <div id="box4" class="box-echart"></div>
              </div>
              <ul class="live-box" id="live-box">
                <li style="margin-right: 2%;">
                  <p>年业务成交额</p>
                  <p class="live-box-font1"><span style="font-size: 2rem;">549462</span>万元</p>
                </li>
                <li>
                  <p>年完成率</p>
                  <p class="live-box-font1"><span style="font-size: 2rem;">80%</span></p>
                </li>
              </ul> -->
            </div>
            <div class="data-box1" id="box8-box" style="height:300px; margin-top: 30px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title">
                <b class="data-title-left">[</b><span>SHEETS</span><b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>Sheets not online in time <abbr>{{pager.sheets.pc>1?pager.sheets.pi-1: 1}}/{{pager.sheets.pc}}</abbr></span>
              </div>
              <table class="panel-table" style="margin-top:5px !important">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>No</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Plan On</th>
                    <th>Exp/h</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="y in sheets">
                    <td>{{ y.type }}</td>
                    <td>{{ y.no }}</td>
                    <td>{{ y.source }}</td>
                    <td>{{ y.target }}</td>
                    <td>{{ y.plan }}</td>
                    <td>{{ y.expired }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="data-box1 box1-back" id="box02" style="height:628px">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title">
                <b class="data-title-left">[</b>
                <span>PART ISSUES</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="total-mn">
                <span>Overflow risk parts <abbr>{{pager.overflow.pc>1?pager.overflow.pi-1: 1}}/{{pager.overflow.pc}}</abbr></span>
              </div>
              <div id="box2" class="box-echart box-bottom" style="height:270px;"></div>
              <div class="total-mn">
                <span>Lack risk parts <abbr>{{pager.lack.pc>1?pager.lack.pi-1: 1}}/{{pager.lack.pc}}</abbr></span>
              </div>
              <div id="box4" class="box-echart" style="height:270px;"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="data-box1" id="box03">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 238px;">
                <b class="data-title-left">[</b>
                <span>KD Summary</span>
                <b class="data-title-right">]</b>
              </div>
              <!-- <ul class="ym-menu clearfix" id="ym-menu">
                <li class="ym-active"><a href="">本年</a></li>
                <li class="taba"><a href="">本月</a></li>
              </ul> -->
              <div id="box3" class="box-echart tabcontent" style="height:270px;"></div>
            </div>
            <div class="data-box1" id="box04" style="margin-top: 30px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 238px">
                <b class="data-title-left">[</b>
                <span>DAILY REPORT</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="box-echart" style="height:250px;">
                <!-- <div style="display: flex; flex-wrap: wrap; margin: 6px 6px; justify-content: space-between;">
                  <div class="c_title">
                    JIS
                  </div>
                  <div class="c_title">
                    JIS
                  </div>
                  <div class="c_title">
                    JIS
                  </div>
                </div> -->
                <div class="box-echart box-bottom box-daily-list">
                  <span>JIS</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.jis.total}}</h3>
                  </div>
                  <div>
                    <p>Undone</p>
                    <h3>{{daily_report.jis.wait}}</h3>
                  </div>
                  <div>
                    <p>Done</p>
                    <h3>{{daily_report.jis.done}}</h3>
                  </div>
                </div>
                <div class="box-echart box-bottom box-daily-list">
                  <span>DD</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.dd.total}}</h3>
                  </div>
                  <div>
                    <p>Undone</p>
                    <h3>{{daily_report.dd.wait}}</h3>
                  </div>
                  <div>
                    <p>Done</p>
                    <h3>{{daily_report.dd.done}}</h3>
                  </div>
                </div>
                <div class="box-echart box-daily-list">
                  <span>SPS</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.sps.total}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--asad-->
      </div>
    </div>
  </div>
  <!-- JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/echarts.min.js?v=2"></script>
  <script type="text/javascript" src="js/china.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/mycharts.js?v=133"></script>
  <script>
    $(document).ready(function () {
      // $('.ym-menu li').click(function () {
      //   var index = $(this).index();
      //   $(this).attr('class', "ym-active").siblings('li').attr('class', 'taba');
      //   $('.tabcontent').eq(index).show(200).siblings('.tabcontent').hide();
      // });
      // var t = 0;
      // var timer = setInterval(function () {
      //   if (t == $('.ym-menu li').length)
      //     t = 0;
      //   $('.ym-menu li:eq(' + t + ')').click();
      //   t++;
      // }, 3000)
    })
  </script>
</body>

</html>