<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>MGI LES MONITOR</title>
  <meta name="description" content="" />
  <meta name="author" content="minggang@outlook.com" />
  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link href="css/animations.css" rel="stylesheet" />
  <link href="css/content1.0.css?v=1230" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/times.js"></script>
  <script type="text/javascript">
    var API_HOST = 'http://localhost:49280/';
  </script>
</head>

<body ng-app="myApp" ng-controller="customersCtrl">
  <!-- banner start -->
  <div class="banner-caption clearfix" style="position: relative;">
    <div id="title">
      <div class="caption-title clearfix">
        <i class="title-left"><img src="images/title-left.png" /></i>
        <p class="title-left-title-font">MGI LES MONITOR</p>
        <i class="title-left"><img src="images/title-right.png" /></i>
      </div>
      <div class="title-date" style="height: 40px; position: absolute; right: 0; top:0;">
          <p id="DateTime" style="height: 40px; text-align: center;">CURRENT TIME</p>
      </div>
    </div>
    <div id="main" style="margin-top:20px;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="manul_1">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 230px;">
                <b class="data-title-left">[</b>
                <span>Manul KD</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>Current Item: {{manul_no}} <abbr>{{manul_cur}}/{{manul_length}}</abbr></span>
              </div>
              <div id="chart_manul" class="box-echart tabcontent" style="height:270px;"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="smpv_1">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 230px;">
                <b class="data-title-left">[</b>
                <span>SMPV KD</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>Current Item: {{smpv_no}} <abbr>{{smpv_cur}}/{{smpv_length}}</abbr></span>
              </div>
              <div id="chart_smpv" class="box-echart tabcontent" style="height:270px;"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="smcv_1">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 230px;">
                <b class="data-title-left">[</b>
                <span>SGMW & SMCV KD</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>Current Item: {{smcv_no}} <abbr>{{smcv_cur}}/{{smcv_length}}</abbr></span>
              </div>
              <div id="chart_smcv" class="box-echart tabcontent" style="height:270px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="box8-box" style="height:300px; margin-top: 30px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 230px;">
                <b class="data-title-left">[</b><span>ASN Sheet status</span><b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>ASN Sheets not online in time <abbr>{{pager.sheets.pc>1?pager.sheets.pi-1: 1}}/{{pager.sheets.pc}}</abbr></span>
              </div>
              <table class="panel-table" style="margin-top:5px !important">
                <thead>
                  <tr>
                    <!-- <th>Type</th> -->
                    <th>No</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Plan On</th>
                    <th>Exp/h</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="y in sheets">
                    <!-- <td>{{ y.type }}</td> -->
                    <td>{{ y.no }}</td>
                    <td>{{ y.source }}</td>
                    <td>{{ y.target }}</td>
                    <td>{{ y.plan }}</td>
                    <td>{{ y.expired }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="box04" style="margin-top: 30px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 280px">
                <b class="data-title-left">[</b>
                <span>Today Runsheet report</span>
                <b class="data-title-right">]</b>
              </div>
              <div class="box-echart" style="height:250px;">
                <div class="box-echart box-bottom box-daily-list">
                  <span>JIS</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.jis.total}}</h3>
                  </div>
                  <div>
                    <p>Undone</p>
                    <h3>{{daily_report.jis.wait}}</h3>
                  </div>
                  <div>
                    <p>Done</p>
                    <h3>{{daily_report.jis.done}}</h3>
                  </div>
                </div>
                <div class="box-echart box-bottom box-daily-list">
                  <span>DD</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.dd.total}}</h3>
                  </div>
                  <div>
                    <p>Undone</p>
                    <h3>{{daily_report.dd.wait}}</h3>
                  </div>
                  <div>
                    <p>Done</p>
                    <h3>{{daily_report.dd.done}}</h3>
                  </div>
                </div>
                <div class="box-echart box-daily-list">
                  <span>RQ</span>
                  <div>
                    <p>Total</p>
                    <h3>{{daily_report.rq.total}}</h3>
                  </div>
                  <div>
                    <p>Undone</p>
                    <h3>{{daily_report.rq.wait}}</h3>
                  </div>
                  <div>
                    <p>Done</p>
                    <h3>{{daily_report.rq.done}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="data-box1" id="box8-box" style="height:300px; margin-top: 30px;">
              <i class="topL"></i>
              <i class="topR"></i>
              <i class="bottomL"></i>
              <i class="bottomR"></i>
              <div class="data-title" style="width: 230px;">
                <b class="data-title-left">[</b><span>GRN - LES to SAP</span><b class="data-title-right">]</b>
              </div>
              <div class="total-mn" id="total-mn1">
                <span>List of sheets to sap. <abbr>{{pager.sheets.pc>1?pager.sheets.pi-1: 1}}/{{pager.sheets.pc}}</abbr></span>
              </div>
              <table class="panel-table" style="margin-top:5px !important">
                <thead>
                  <tr>
                    <th>Begin Time</th>
                    <th>End Time</th>
                    <th>Tcode Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="y in sap_summary">
                    <td>{{ y.StartHour }}</td>
                    <td>{{ y.EndHour }}</td>
                    <td>{{ y.C }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--asad-->
      </div>
    </div>
  </div>
  <!-- JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/echarts.min.js?v=2"></script>
  <script type="text/javascript" src="js/china.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/mycharts.js?v=24c3"></script>
  <script>
    $(document).ready(function () {
      // $('.ym-menu li').click(function () {
      //   var index = $(this).index();
      //   $(this).attr('class', "ym-active").siblings('li').attr('class', 'taba');
      //   $('.tabcontent').eq(index).show(200).siblings('.tabcontent').hide();
      // });
      // var t = 0;
      // var timer = setInterval(function () {
      //   if (t == $('.ym-menu li').length)
      //     t = 0;
      //   $('.ym-menu li:eq(' + t + ')').click();
      //   t++;
      // }, 3000)
    })
  </script>
</body>

</html>